
.dashboard-card{

background:#20242C;

border-radius:18px;

padding:24px;

display:flex;

justify-content:space-between;

align-items:center;

transition:.25s;

box-shadow:0 10px 25px rgba(0,0,0,.35);

}

.dashboard-card:hover{

transform:translateY(-4px);

}

.dashboard-card h5{

color:#9AA5B1;

margin-bottom:8px;

}

.dashboard-card h2{

font-size:34px;

}

.dashboard-card span{

font-size:44px;

color:#0066B1;

}


.sidebar{

position:fixed;

left:0;

top:0;

width:270px;

height:100vh;

background:#171A21;

padding:25px;

overflow:auto;

border-right:1px solid #252A33;

}

.sidebar-logo{

text-align:center;

margin-bottom:35px;

}

.sidebar-logo img{

width:72px;

margin-bottom:12px;

}

.sidebar-logo h2{

font-size:22px;

}

.sidebar-logo span{

color:#8D98A5;

font-size:13px;

}

.sidebar nav{

display:flex;

flex-direction:column;

gap:8px;

}

.sidebar nav a{

display:flex;

align-items:center;

gap:14px;

padding:14px;

border-radius:12px;

color:#E5E7EB;

text-decoration:none;

transition:.2s;

}

.sidebar nav a:hover{

background:#0066B1;

}

.sidebar nav span{

font-size:22px;

}

