.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0F1115,#171A21);

}

.login-card{

width:420px;

padding:40px;

background:rgba(32,36,44,.92);

border-radius:20px;

backdrop-filter:blur(18px);

box-shadow:0 20px 60px rgba(0,0,0,.45);

}

.logo{

width:90px;

display:block;

margin:auto;

margin-bottom:20px;

}

.logo-area{

text-align:center;

margin-bottom:30px;

}

.logo-area h1{

font-size:32px;

margin-bottom:8px;

}

.logo-area p{

color:#AEB7C2;

}

input{

width:100%;

padding:15px;

margin-bottom:16px;

background:#171A21;

border:1px solid #303641;

color:white;

border-radius:12px;

}

#btnLogin{

width:100%;

margin-top:15px;

font-size:16px;

font-weight:600;

}
