:root{

--bg:#0F1115;
--sidebar:#171A21;
--card:#20242C;
--primary:#0066B1;
--success:#00C853;
--warning:#FFB300;
--danger:#D50000;

--text:#F5F7FA;
--text2:#AEB7C2;

--radius:16px;

--shadow:0 12px 30px rgba(0,0,0,.35);

--transition:.25s;

--font:'Inter',sans-serif;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:var(--font);

}

body{

background:var(--bg);
color:var(--text);

}

.card{

background:var(--card);
border-radius:var(--radius);
box-shadow:var(--shadow);

}

button{

background:var(--primary);
color:#fff;
border:none;
padding:14px 24px;
border-radius:12px;
cursor:pointer;
transition:.25s;

}

button:hover{

transform:translateY(-2px);

}
